.THIS {
  /* background-color: #F9F9F9; */
  /* /height: 10rem; */
   margin-top:20px;
    color: rgb(5, 86, 137);
    font-weight:400px;
    
}

/* .THIS div {
  color: rgb(5, 86, 137);
} */

.THIS .centered {
  text-align:center;
}