.THIS {
  z-index: 1;
}

.THIS .appraisalColor {
  background-color: #e3e5ed;
}

.THIS .scroller {
  overflow-y: hidden;
}

.THIS .fixed {
  position: absolute;
  /* z-index: -1; */
}

/* .THIS table {
  position: relative;
}

.THIS th {
  background-color: var(--lwc-colorBackgroundAlt, rgb(255, 255, 255));
  position: sticky;
  top: 0;
  z-index: 1000;
  white-space: initial;
  text-align: center;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
} */